body { 
    background-color: powderblue;
}

#main{
    float: left;
}

#chatroomheader{
	text-align: left;
	height: 80px;
    line-height: 80px;
	text-shadow: 2px 2px red;
	color:purple;
	font-family:Times,Arial;
	font-size:60pt;
}

.listheader{
	text-align: left;
	height: 20px;
    line-height: 30px;
	text-shadow: 1px 1px red;
	color:purple;
	font-family:Times,Arial;
	font-size:30pt;
}